/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper
{
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 1;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:30px;
	color:#fff;
	padding: 15px;
	width:100%;
	z-index:8;
	overflow: hidden;
	display: none;
}
.nivo-html-caption {
    display:none;
}
.banner-text
{
    overflow: hidden;
    width: 100%;
}
.text-b
{
	background:#000;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
    padding: 15px;
    width: 40%;
}
.banner-text .text-b
{
    left: 0;
    top: 0;
    position: relative;
}
.banner-text .desription
{
}
.banner-right .text-b
{
    float: right;
    text-align: right;
}
.banner-right h2
{
    left: 100%;
}
.banner-center .text-b
{
    margin: 0 auto;
    text-align: center;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 25px 0;
	left: 0;
	bottom: 0;
	position: absolute;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.banner-text h2
{
    margin: 0;
}
/*======================*/
#banner .nivo-controlNav
{
    font-size: 0;
    position: relative;
}
#banner .nivo-controlNav a
{
    background: url(../images/banner-bg.png) no-repeat left top;
    display: inline-block;
    height: 20px;
    margin: 0 4px;
    width: 21px;
}
#banner .nivo-controlNav a.active, #banner .nivo-controlNav a:hover
{
    background-position: left bottom;
}
@media (min-width: 768px) and (max-width: 979px)
{
}
@media (max-width: 767px)
{
}
